
h1{
    text-align: center;
    color:gray;
    font-size: 50px;
}

img.octocat {
    height: 200px;
    margin: 40px;
}


.row{
    display: flex;
    align-items: center;
}

#div1{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}



#div2{
    background-color:magenta;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

#div3{
    background-color:rgb(244, 242, 239);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}
