h1{
background-color:black ;
font-family:italic;
font-weight: bold;
font-family: cursive;
}

h2{
font-style:italic;
background-color: blueviolet;
text-align: center;
color:white;
}

h3{
font-style:unset;
background-color:cyan ;
text-align: end;
text-decoration: underline;
}